MONGODB_URI=mongodb://127.0.0.1:27017/email-tracker
NEXT_PUBLIC_BASE_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

ADMIN_USERNAME=
ADMIN_PASSWORD=

DISCORD_WEBHOOK_URL=

EXCLUDE_IPS=
